@import "reset.css"; // parcel automaticaly installs Meyer's reset.css via NPM
@import "./reset.css"; // imports reset.css file from root
@import "./cluster/cluster.scss";

$primary:red;

.heading {
    color: $primary;
    background-color: $dark;
}